<div class="headerDisplay">
  <nb-actions size="medium">
    <nb-action icon="nb-menu"></nb-action>
    <nb-action>
      <h3>
        FPLF
      </h3>
    </nb-action>
  </nb-actions>

  <nb-actions size="medium">
    <nb-action>

      <input nbInput placeholder="Data Inicial" [(ngModel)]="usurObj.dataInicio" (ngModelChange)="onDate($event)" [nbDatepicker]="dataInicio">
      <nb-datepicker #dataInicio></nb-datepicker>
    </nb-action>
    <nb-action>
      <input nbInput placeholder="Data Final" [(ngModel)]="usurObj.dataFinal" (ngModelChange)="onDate($event)" [nbDatepicker]="dataFim">
      <nb-datepicker #dataFim></nb-datepicker>
    </nb-action>
    <nb-action>
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action>
      <nb-user  [name]="usurObj.coordenadorNome">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
