<nb-layout>
  <nb-layout-header fixed>
    <app-header style="width:100%"></app-header>
  </nb-layout-header>
  <br>
  <!--   <nb-sidebar class="menu-sidebar" tag="menu-sidebar">
    <nb-sidebar-header>
    </nb-sidebar-header>
    <app-menu></app-menu>
  </nb-sidebar> -->

  <nb-layout-column>
    <div class="showButtonDiv"  >
      <nb-card *ngFor="let item of directions" (click)="goTo(item)" >
        <nb-card-body>
         {{item.nome}}
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
